@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right , #c1c9c9 , #9dc9c9);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    /*background-color: gray;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding: 40px;
}

.login-header {
    font-size: 2.4rem;
    margin: 20px 0px 25px 0px;
    text-align: center;
}

.login-header header {
    color: #282929;
    font-weight: 600; /* Aumenta a borda da fonte */
}

.input .email-senha {
    width: 100%;
    height: 60px;
    padding-left: 25px;
    font-size: .9rem;
    margin: 5px 0px 5px 0px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.1);
    outline: none;
    transition: .4s;
}

.forgot {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    justify-content: space-between;
    width: 100%;
}

::placeholder {
    font-weight: 500;
}

.email-senha:focus {
    width: 104%;
}

section {
    display: flex;
    font-size: 14px;
    align-items: center;
    opacity: 90%;
}

#check {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #111111;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.entrar {
    width: 100%;
    height: 60px;
    border: none;
    background: linear-gradient(to right, #366e6e, #3e8080);
    border-radius: 100px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0, 0.1);
    cursor: pointer;
    transition: 0.4s;
}

/*.botao-para-entrar label {
    top: 69.6%;
    left: 50%;
    -webkit-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
}*/

.entrar-botao button {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.entrar-botao label {
    color: white;
    font-weight: 600;
}

.entrar:hover {
    background: linear-gradient(to right, #366e6e, #3e8080);
    transform: scale(1.05, 1);
}

.cadastrar {
    text-align: center;
    margin-top: 8px;
}

.cadastrar p a {
    font-weight: 600;
}

.forgot a {
    font-weight: 600;
}

/*.login-container {
    
    height: 500px;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.15);
}*/

@media (max-width: 360px) {
    .forgot {
        display: flex;
        justify-content: ;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .forgot section {
        margin-bottom: 10px;
    }

    .cadastrar p {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}